# rename this file reddit.cfg
[reddit_api]
CLIENTID: "XXXX"
CLIENTSECRET: "XXXX"
PASSWORD: "XXXX"
USERNAME: "XXXX"

[S3_access]
ACCESSKEY: "XXXX"
SECRETKEY: "XXXX"

[Discord]
BOTTOKEN: "XXXX"
MYSNOWFLAKEID: "XXXX"
CHANNELSNOWFLAKEID: [123456789,987654321]

[Postgres]
USERNAME: "XXXX"
PASSWORD: "XXXX"
HOST: "XXXX"
PORT: "XXXX"
DATABASE: "XXXX"
